* {

}

body {
	margin: 0px;
	background-color: #ccc;
	background-image: url("bgwood.jpg") ;
	font-family: 'Arial', sans-serif;
	font-color: #777777;
}

#name {
	background-color: #4aaaa5;
	color: white;
	padding: 22px;
	height: 30px;
	float: left;
}

nav {
	float: right;
}

li{
	float: left;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	list-style: none;
	border-left: solid 2px #ccc;
}

#navlast{
	padding-right: 0px;
}

#navfirst {
	border-left: #ffffff;
}

a{
	text-decoration: none;
}

header {
	background-color: #ffffff;
	font-family: 'Georgia', serif;
	width: 100%;
	margin: 0 auto;
	border: solid 1.5px #cccccc;
}

#head {
	width: 960px;
	margin: 0 auto;
}

#info {
	overflow: auto;
	padding: 30px;
	margin: 0 auto;
	width: 960px;
}

#content {
	;
}

#contact, #aboutme, #portfolio {
	padding: 15px;
	text-align: left;
	background-color:white;
	width: 650px;
	border: solid 1.5px #dddddd;
	margin: 0 auto;
	float: left;
}

#connect {
	padding: 15px;
	align-content: center;
	text-align: center;
	background-color:white;
	margin: 0 auto;
	float: right;
	border: solid 1.5px #dddddd;
}

#link {
	border-top: solid 3px #cccccc;
	padding-top: 22px;
	margin-top: 28px;
}
.position{
	display: inline-block;
	vertical-align: top;
}

img {
	width: 100px;
	float: left;
	margin: 0px 10px 10px 0px;
}

#connect img{
	width: 50px;
}

#msgbox{
	width: 500px;
	height: 50px;
}

footer {
	background-color: #666666;
	position: relative;
	top: 10px;
	padding: 20px;
	color: white;
	text-align: center;
	font-size: 12px;
	border-top: solid 5px #4aaaa5;
	clear: both;
}

.clearfix {
	overflow: auto;
}

#name {
	margin: 0px;
}

.clear {
	clear: both;
}

.imgsize {
	width: 193px;
	background: gray;
	margin-right: 22px;
	height: 150px;
}


#maininfo {
	border-top: solid 3px #cccccc;
	padding-top: 20px;
}



#codepenweb {
	position: relative;
	width: 100%;
	text-align: center;
}

#codepenweb h3 {
	background-color: #4aaaa5;
	position: absolute;
	left: 15px;
	top: 73px;
	padding: 10px;
	border: 1px solid #fff;
	width: 130px;
	color: #fff;
	margin: 5px;
	text-align: center;
}

#scratch {
	position: relative;
	width: 100%;
}

#scratch h3 {
	background-color: #4aaaa5;
	position: absolute;
	left: 231px;
	top: 73px;
	padding: 10px;
	border: 1px solid #fff;
	width: 130px;
	color: #fff;
	margin: 5px;
}

#codepenport {
	position: relative;
	width: 100%;
}

#codepenport h3 {
	background-color: #4aaaa5;
	position: absolute;
	left: 445px;
	top: 73px;
	padding: 10px;
	border: 1px solid #fff;
	width: 130px;
	color: #fff;
	margin: 5px;
	text-align: center;
}